@use "@/shared/theme/theme";

.button {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition:
    border-color 0.3s ease-in-out,
    filter 0.3s ease-in-out;

  &--primary {
    background-color: theme.$white;
    &:hover {
      filter: brightness(0.7);
    }
  }
  &--secondary {
    border: 1px solid theme.$gray;
    background-color: transparent;
    color: theme.$white;
    &:hover {
      border-color: theme.$white;
    }
  }
}
